.featuredItem {
  position: relative;
  color: white;
  border-radius: 10px;
  overflow: hidden;
  height: 250px;
  flex:1;
}
.featuredImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 100%;
}
.featuredTitles {
  position: absolute;
  bottom: 15px;
  left: 15px;
}
