.navbar{
    background-color: #003580;
    height: 50px;
    display: flex;
    justify-content: center;
}
.navContainer{
    color: white;
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-weight: 500;
}
.navButton{
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    color :#003580;
    cursor: pointer;
}