.pListItem {
  flex: 1;
  overflow: hidden;
  cursor: pointer;
}
.pListImg {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}
.pListTitle > h1 {
  font-size: 18px;
  text-transform: capitalize;
}
.pListTitle > h2 {
  font-size: 14px;
  font-weight: 300;
}
