.headerListItem {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.active {
  border: 1px solid white;
  padding: 10px;
  border-radius: 20px;
  background-color: #0071c287;
}
.active:hover {
  background-color: #003580;
}
